@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}
nav{
  background-color: white;
}
body{
  background-color: #355d90;
  font-family: var(--font-poppins);
}
html {
  scroll-behavior: smooth;
}